@import "src/theme";

div.userCreate {

  display: flex;
  position: relative;
  align-items: center;
  padding: 1em;
  margin: 1em;
  
  button {
    cursor: pointer;
    color: $primary;
    border: 3px solid $primary;
    background-color: $back;
  }

  .newUser {
    position: absolute;
    border: 3px solid $primary;
    top: 9em;
    left: 1em;
    padding: 1em;
  }

}