@import "src/theme";

div.UserList {
  > main {
    ul {
      display: flex;
      flex-wrap: wrap;
    }
  }
  .userbox {
    border: 3px solid $primary;
    margin: 1em;
    box-shadow: 2px 2px 2.5px rgba(0, 0, 0, 0.5);
  }
  a {
    color: $fore;
    display: block;
    padding: 1em;
  }
}