@import "src/theme";

div.UserList {
  ul {
    display: flex;
    flex-wrap: wrap;
  }
  .userbox {
    border: 3px solid $primary;
    margin: 1em;
    box-shadow: 1px, 1px, 1px, rgba(0, 0, 0, 0.6);
  }
  a {
    color: $fore;
    display: block;
    padding: 1em;
  }
}