@import "src/theme";

section.UserDetail {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  > header {
    margin-top: 2em;
  }

  .editImaginedModalDialog {
    position: absolute;
    border: 3px solid $primary;
    transform: translateX(100%);
    right: 50%;
    padding: 1em;
    background: $back;
    z-index: 50;

    h1 {
      text-align: center;
    }
    
  }

}